

input:focus {
	outline: none;
}

#window {
	max-width: 1024px;
	margin: auto;
}

#booking_title { 
	display: block;
	margin-bottom: 20px;
	padding: 10px; 
	display: inline-block; 
	border-right: 30px solid transparent; 
	border-bottom: 30px solid #E31D2E; 
	height: 0; 
	line-height: 50px;
	}

#booking_title h2 {
	text-align: center;
	text-decoration: none; 
	color: white; 
	font-weight : lighter;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

#content {
	border: 1px solid #4c4c4c; 
	border-top: 3px solid #E31D2E;
	padding: 10px;
	margin-top: -20px;
	width: 100%; 
	display: inline-block;
}

.selectStep1 {
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 80%;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}




/* 영화관 선택 */

.theater{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	
	
}


.Clickarea{
	width:100%;
	text-align: center;
	cursor: pointer;
	overflow: auto;
	margin : 0 auto;
}

.areaClick{
	background-color: #e3e3e3;
	width : 110px;
	float : left;
	border: 1px solid white;
	height: 50px;
	padding-top: 15px;
	font-size: 15px;
	font-weight: bold;
	display : inline-block;
}



[class*="tarea"]{
	width: 65%;
	color: rgb(179, 179, 179);
	display:none;
	float:left;
	text-align: center;
}


.tarea1, .tarea2, .tarea3, .tarea4, 
.tarea5, .tarea6, .tarea7, .tarea8, .tarea9{	
	width : 100%; 
}


.tarea1{
	display: inline-block;
}

.theaterList {
	display: block;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	transition: .3s;
	font-weight: 00;
	user-select: none;
	
}

.theaterSelect {
	float : left;
	padding-bottom : 10px;
	padding : 15px;
}

/* 날짜,스케줄선택*/
.schedule {
	display: none;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background: white;
}


/*달력 style*/ /* placeholder color */
input:-ms-input-placeholder {
	color: #000;
}

input::-webkit-input-placeholder {
	color: #000;
}

input::-moz-placeholder {
	color: #000;
}

input::-moz-placeholder {
	color: #000;
}

.wrapper {
	display: inline;
}

.ion-calendar {
	right: 20px;
	top: 14px;
}
/* input */
#datepicker {
	
	margin : 50px 20px 50px;
	border: 1px solid #E31D2E;
	padding: 3px;
	border-radius: 5px;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
}

#datepicker:hover {
	background-color: rgb(255, 220, 223);
}

#datepicker:focus {
	outline: none;
}
/* calendar table */
.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 42.5px;
	margin-right: 42.5px;
	padding: 20px;
	width: 360px;
}

#datepicker:focus>.ui-datepicker {
	display: block;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-calendar {
	width: 100%;
}
/* day of week cell */
.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}
/* day cell */
.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 44px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: rgb(255, 220, 223);
}

.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}
/* past days */
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}


/*날짜 스케줄 선택 style*/
#selectScd {
	width: 100%;
	padding: 20px 0px;
	padding: 10px;
	background-color: whitesmoke;
	
	min-height: 600px;
	overflow:hidden;
	height:auto;
}


.theaterNameInfo{
	width:100%;
}

.movietitle{
	text-align: left;
	float:left;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom-style: double;
}

.movieName{
	width: 50%;
	font-weight: bold;
	margin-left: 50px;
	font-size: 18px;
	display: inline-block;
}

.movieGrade {
	margin-left: 50px;
	margin-bottom: 30px;
}

.hall{
	width: 80%;
	margin: 0 auto;
}

.hallinfo{
	width:100%;
	display:inline-block;

}

.ticket{
	cursor:pointer;
	text-align:center;
	float:left;
	width: 70px;
	height: auto;
	border:1px solid black;
	height: 50px;
	padding-top: 5px;
	margin: 10px;
}

.ticket:hover {
	background: #E31D2E;
    color: white;
}

.theaterNameInfo {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 17px;
}

.hall {
	margin-bottom: 30px;
}
.hallinfo {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}



@media only screen and (max-width: 600px){

#content {
	width : 100%;
	border-left: none;
	border-right : none;
}

#window {
    max-width : 1024px;
    margin : auto;
}


.areaClick{
	width : 150px;
	font-size: 16px;
	font-weight: bold;
}
}


.onClick{
	background-color: #898989;
	color : white;
}
