.clear{
	clear:both;
}


input:focus {
	outline: none;
}

#window {
	max-width: 1024px;
	margin: auto;
	height:120%;
}

#booking_title { 
	padding: 10px; 
	display: inline-block; 
	border-right: 30px solid transparent; 
	border-bottom: 30px solid #E31D2E; 
	line-height: 50px;
	height: 0px;
	margin-bottom: -13.5px;
	}

#booking_title h2 {
	text-align: center;
	text-decoration: none; 
	color: white; 
	font-weight : lighter;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

#content {
	border: 1px solid #4c4c4c; 
	border-top: 3px solid #E31D2E;
	padding : 30px;
	width: 100%; 
	height : 200px;
	display: inline-block;
	overflow:hidden;
	text-align: center;
}

.seatSelectAbout {
	float : left;
}

.selectStep2{
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 80%;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

#nowSelectSeat {
	color : #E31D2E;
	font-weight: bolder;
	
}



/*step2 좌석선택 style*/
.number {
	margin: 18px;
	font-size: 20px;
}

.number select {
	/*padding:5px 0;*/
	margin: auto;
	width: 65px;
	font-size: 17px;
	text-align-last: center;
	font-family: 'Noto Sans KR', sans-serif;
}





#screen {
	line-height : 24px;
	text-align: center;
	background-color : darkgray;
	width : 600px;
	height : 24px;
	color : white;
	margin : 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	
}

.bookingChk {
	background-color: #f0f0f0;
	height: 200px;
	width: 100%;
	margin: auto;
}

#selectSeat {
	min-height: 380px;
	background-color: white;
	overflow:hidden;
	margin: 0 auto;
	padding-bottom: 30px;
	justify-content: center;
	vertical-align: center;
}

.seat {
	min-height: 400px;
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
	height:auto;
	justify-content: center;
	vertical-align: center;
	text-align: center;
}

#personNum {
	display: inline-block;
}

#totalNumber{
	float:left;
	height: 50px;
	margin : 10px 5px 20px;
	line-height:50px;
}

#pNumChk{
	float:left;
}

#PNumCon {
	display : inline-block;
}




#popup_img {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

#PNumCon {
	font-size : 15x;
	vertical-align: middle;
}


.seatrow{
	text-align: left;
	display:inline-block;
	overflow:hidden;	
	width:100%;
	text-align: center;
}

[class*="seatLine"]{
	display: inline-block;
	width:20px;
	height:20px;
	line-height:20px;
}

[class*="eachSeat"]{
	text-align: center;
	display:inline-block;
	border:1px solid black;
	width:20px;
	height:20px;
	font-size:60%;
	line-height:20px;
	background-color: #666666;
	color: #fff;
}

.onSelect{
	background-color: red;
}

.seatLine4, .seatLine8, .seatLine12, .seatLine16, .seatLine20, .seatLine24, .seatLine28{
	margin-right: 10px;
}

#Btn {
	display: block;
	width : 100%;
	margin : 0 auto;
	justify-content: center;
	text-align: center;
}

#BtnContent {
	margin : 0 auto;
	height: 100px;
	margin-bottom: 100px;	
}



#reSelectSeat {
	line-height : 40px;
	float : left;
	width: 350px;
	height: 40px;
	margin : 10px;
	background-color: darkgray;
	justify-content: center;
	color : white;
	text-align: center;
	cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    color: white;
}


#goPayment {
	text-align : center;
	line-height : 40px;
	float : left;
	margin : 10px;
    justify-content: center;
    width: 350px;
    height: 40px;
    background-color: #E31D2E;
    color: white;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

#goPayment:hover {
    background: #E31D2E;
    color: black;
}

#reSelectSeat:hover {
    background: #fff;
    color: black;
}

#pNumSelect {
	display: inline-block;
}

#pNumChk{
	float:right;
	line-height : 30px;
	width: 150px;
	height: 50px;
	margin-top : 10px;
	margin-bottom : 20px;
	border-radius : 20px;
	background-color: darkgray;
	border : none;
	color : white;
	display : inline-block;
	cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    vertical-align: middle;
}

#pNumChk:hover {
    background: #E31D2E;
    color: white;
}




/* media */
@media ( max-width : 600px) {
	
	#Btn {
	display: grid;
	}
	
	#BtnContent {
	display: grid;
	}
	
	.wrapper {
		width: calc(100vw - 20px);
	}
	.ui-datepicker {
		margin-right: 0;
		margin-left: 0;
		padding: 80px;
		width: calc(100vw - 20px);
		margin: 80px auto;
	}
	.ui-datepicker-calendar>tbody>tr>td {
		width: 38px;
		height: 38px;
	}
	.selectStep1 {
		margin-right: 0;
		margin-left: 0;
		width: calc(100vw - 20px);
	}
	.time {
		margin: 12px;
	}
	.theater {
		width: 100%;
		margin: 10px;
	}
	.schedule {
		width: 90%;
	}
	.schedule>.selectScd {
		width: 60px;
	}
	.content .seat {
		width: 90%;
	}
	
	#content {
	display : inline-block;
	border-left : none;
	border-right : none;
	padding: 30px;
	margin-top : -1px;
	margin-bottom : 30px;
	text-align: center;
	vertical-align: middle;
	
	}
	
	#booking_title { 
	margin-top : 7px;
	}
	
	#screen {
	width : 80%;
	}

	#pNumChk {
	magin-top : 20px;
	}
	
}

