@charset "UTF-8";

* {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    #nowIn,
    #upComing {
        width: 1200px;
    }

}

/* 모바일 버전*/
@media only screen and (max-width: 600px) {

    #nowIn,
    #upComing {
        width: 600px;
    }
}

article {
    max-width: 1100px;
    margin: auto;
}


/* 메인 티져들 */
#Teasers{
    position:relative;
    overflow:hidden;
    height:500px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgb(179,179,179);
}


/*box office*/

#box {
    height: 500px;
}

#box h2 {
    text-align: center;
    margin: 0 5px 5px 5px;
}


#boxrank {
    margin-left: 5%;
    border-radius: 4px;
    background-color: whitesmoke;
}

#box li {
    list-style: none;
    display: block;
    padding: 3%;
    margin: 3px auto;
}

#box li:hover {
    cursor: pointer;
    border : 3px solid rgb(179,179,179,0.5);
    border-radius: 4px;
}

#resv {
    display: inline-block;
    width: 90%;
    cursor: pointer;
    border: none;
    color : white;
    background-color: #E31D2E;
    transition: 0.3s;
    opacity: 0.5;
    margin: 3% 5% 5% 5%;
    padding: 10px;
    border-radius: 4px;
}

#resv:hover {
    opacity: 1;
}

/* 최신 상영작, 상영예정작 */

#posterLines {
    text-align: center;
    height:400px;
}

#nowIn, #upComing {
    display: inline-block;
    position:relative;
    overflow:hidden;
    height:300px;
    width : 95%;
}

#upComing {
    display: none;
}
/* 최신 상영작, 상영예정작 버튼 */

#tabs {
    margin-top: 50px;
}

#tabM{
    text-align: center;
}

#movieSelectButton{
    width: 100%;
    display:inline-block;
    height: 50px;
    /* background-color: #f2f2f2; */
    /* border-top: 1px solid #e1e1e1; */
    /* border-bottom: 3px solid #964233; */
    text-align: center;
}


#showNowIn, #showUpComing {
    display: inline-block;
    /* border-top:1px solid #E31D2E; */
    height: 50px;
    width: 100px;
    color: black;
    cursor: pointer;
    margin: 10px 30px;
    line-height: 50px;
    font-weight: 600;
}

/*누적 관객수에 따른 랭킹*/

.rankAudience{
    border : 1px solid black;
    height: 350px;
}

.rankweek{
    border : 1px solid black;
    height: 350px;
}

.rankAudience h4 {
    text-align: center;

}



/*
-------------------------------------------------------------------------
*/

/* 검색어 입력창 */
form {
    position: relative;
    width: 80%;
    margin: 0 auto 30px auto ;
  }

  .d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #E31D2E;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
  }
  .d1 button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #E31D2E;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .d1 button:before {
  
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }
  #m_icon {
      width: 20px;
      margin-top: 3px;
  }

.poster{
	cursor: pointer;	
}
