[class*="col-"]{
    float: left;
    width: 100%;
}


@media only screen and (min-width: 600px){
	.col-1 {width: 8.33%; }
	.col-2 {width: 16.66%; }
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.clear {
    clear: both;
}

body {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	/* outline: 1px solid red; */
	height: 300px;
	margin: 0px;
	position: relative;
}

.body {
	max-width: 1100px;
	margin: 0px auto;
	min-width:600px;
	margin-bottom: 30px;
}


/* 영화 제목, 평점 */
#mv_title {
	font-weight: bolder;
	font-size: x-large;
}


#mv_avg{
	display: inline-block;
	font-size: large;
}

#mainPoster {
	border-radius: 4px;
	border : 1px solid rgb(179,179,179);
	margin-top: 5%;
	margin-left: 10%;
}

.poster img {
	transform: scale(1.0);
	transition: transform .3s;
}

.poster img:hover {
	cursor: pointer;
	transform: scale(1.07);
	/* border : 10px solid #ffffff; */
}

#mv {
	padding-top: 5%;
	padding-left: 3%;
}

#mv hr {
	width: 80%;
}

#mv_resv {
	position: absolute;
	display: inline-block;
	margin-left: 80%;
	padding: 10px 15px;
	/* padding : 15px 20px; */
	border : none;
	border-radius: 4px;
	background-color: #E31D2E;
	color: white;
	opacity: 0.6;
	top: 25%;
}

#mv_resv:hover {
	cursor: pointer;
	opacity: 1;
	transition: 0.3s;
}

span {
	display: inline-block;
	padding-right: 3px;
	padding-bottom: 3px;
}


/* 줄거리 */

#mv_content {
	margin-left: 3%;
	font-weight: bolder;
}

.mv_con {
	border : 1px solid rgb(179,179,179);
	box-shadow: 1px 1px 1px rgb(179,179,179);
	border-radius: 4px;
	padding : 2%;
	margin-top: 2%;
	margin-left: 3%;
	font-size: 14px;
	opacity: 1;
	line-height: 1.6em;
}

#overview {
	display: inline-block;
}


/* 스틸컷 */
#steelCut h3 {
	padding-bottom: 5px;
}

#scrolling{
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgb(179,179,179);
}



/* 스틸컷 버튼 */
#leftBtn {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 30px; 
	top: 40%; 
	z-index: 1;
	opacity: 0.5;
}

#rightBtn {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 10px; 
	top: 40%;
	z-index: 1;
	opacity: 0.5;
}

#leftBtn :hover{
	cursor: pointer;
}

#rightBtn :hover {
	cursor : pointer;
}


/*티저*/

#mv_teaser{
	padding : 3%;
	border-radius: 4px;
	border : 1px solid rgb(179,179,179);
	box-shadow: 3px 3px 3px rgb(179,179,179);
}


/* 리뷰 */

#review {
	margin-top : 30px;
}

#review_title {
	padding-left: 20px;
	margin-bottom: 20px;
}

#review-a, #review-b {
	margin-left: 20px;
	margin-bottom: 20px;
	width : 90%;
	height: 80px;
	border: 1px solid rgb(179,179,179);
	border-radius: 4px;
	
}


/* 별 */

.starR {
	/* background: url("http://miuu227.godohosting.com/images/icon/ico_review.png") no-repeat right 0; */
	background: url("../images/star2.png") no-repeat right 0;
	background-size: auto 100%;
	width : 15px;
	height: 15px;
	display: inline-block;
	text-indent : -9999px;
	cursor: pointer;
}

/* .starR.on{
	background-position: 0 0 ;
} */

.starR.off {
	display :none;
}